.result-container{
    padding: 20px;
    background-color: #fff;
    border-radius: 4px;
    margin-top: 25px;
    border: 1px solid #ccc;
    display: none;
    .container-box{
        background-color: #efefef;
        margin-top: 20px;
        border: 1px solid #ccc;
        padding: 14px;
        border-radius: 4px;
    }

    button {
        background-color: #fff;
        color: #FF3D00;
        padding: 12px 20px;
        border: 1px solid #FF3D00;
        border-radius: 4px;
        cursor: pointer;
        float: right;
        transition: 0.5s ease-in-out;
        -webkit-transition: 0.5s ease-in-out;
        -o-transition: 0.5s ease-in-out;
        -moz-transition: 0.5s ease-in-out;
    }
    button:hover {
        background-color: #FF3D00;
        color: #fff;
        border: 1px solid #fff;

    }
}